* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-image: url("../image/home.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}